// Fontes
$fontPrincipal: Roboto, sans-serif;

// Cores
$corBranco:#fff;
$corCinza:#f5f6fa;
$corAzulEcuro:#182C61;
$corVerde:#44bd32;


/* variaveis para dá responsividade ao site */
$mobile: 48em;
$tablete: 64em;